/*So that elements of a set WIDTH will have the right width even with padding*/
*{
	box-sizing:border-box;
}
/*If the browser doesnt know how to handle the recent element, it will behave as a block*/
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
/*Sets the bodys margins to 0*/
body{
  margin: 0;
}

:root {
	--msgcont-height: 60px;
	--msgcont-width: calc(100% - (var(--msgcont-height) + .50rem));
	--msgcont-bradius: calc(var(--msgcont-height) / 2);
	--msgimg-wh: calc(var(--msgcont-height) - .50rem);
}

.logo{
	width:50px;
}

.nav-link{
	cursor:pointer;
}

.headerStyle{
	margin-top:150px;
}

.chat-height {
	height: 450px;
}

.position{
	color:rgb(61, 62, 68);
}

.msg-cont {
	min-height: var(--msgcont-height);
	border-radius: var(--msgcont-bradius);
	width: var(--msgcont-width);
  word-wrap: break-word;
}

.msgimg {
	height: var(--msgimg-wh);
	width: var(--msgimg-wh);
}

.homepagebg {
  background-image: url("../img/socrates.png");
	opacity: 0.95;
	width: 100%;
	height: 500px;
}

.trans { opacity: 0.85; }
.primary { background-color: #2B2859;}
.primary-grad {
	background: rgb(135, 130, 213) !important;
	background: linear-gradient(130deg, rgba(162, 158, 223, 1) 0%, rgba(56, 51, 129, 0.85) 75%)  !important;
}
.whMax {
	width: 100%;
	height: 100%;
}
.maintitle {
	color: white;
	margin: 0;
	padding-top: 100px;
}

.paragraph {
	color: white;
	margin-top: 50px;
	font-style: italic;
}

/*clearfix hack!*/
.row:after{
  content:"";
  clear:both;
  display:block;
}

/*12-column grid system*/

/*width to apply to an HTML element that will be 1/12th of its parent or 8.33% or 1-column wide*/
.col-1 {
	width:8.33%;

}
/*width to apply to an HTML element that will be 1/6th of its parent or 16.66% or 2-column wide*/
.col-2 {
	width:16.66%;

}
/*width to apply to an HTML element that will be 1/4th of its parent or 25% or 3-column wide*/
.col-3 {
	width:25%;
}
/*width to apply to an HTML element that will be 1/3rd of its parent or 25% or 4-column wide*/
.col-4 {
	width:33.33%;
}

/*width to apply to an HTML element that will be 5/12th of its parent or 41.66% or 5-column wide*/
.col-5 {
	width:41.66%;
}

/*width to apply to an HTML element that will be half of its parent or 50% or 6-column wide*/
.col-6 {
	width:50%;
}

/*width to apply to an HTML element that will be 7/12th of its parent or 58.33% or 7-column wide*/
.col-7{
	width:58.33%;
}
/*width to apply to an HTML element that will be 2/3rd of its parent or 66.66% or 8-column wide*/
.col-8{
	width:66.66%;
}
/*width to apply to an HTML element that will be 3/4th of its parent or 75% or 9-column wide*/
.col-9{
	width:75%;
}

/*width to apply to an HTML element that will be 10/12th of its parent or 83.33% or 10-column wide*/
.col-10{
	width:83.33%;
}

/*width to apply to an HTML element that will be 11/12th of its parent or 91.66% or 11-column wide*/
.col-11{
	width:91.66%;
}

/*width to apply to an HTML element that will as large as its parent or 100% or 12-column wide*/
.col-12{
	width:100%;
}

/*we make all elements with a class that contains "col-" to float in order to have those elements aligned side by side*/

[class*="col-m-"]{
	float:left;
	padding: 0;
}
/*clear hack in order to prevent the followinig congtent to go up since columns will be floating*/
.row:after{
	content:"";
	clear:both;
	display:block;
}

/* MEDIA QUERY FOR LARGE DESKTOP */
@media only screen and (max-width:1200px){

}

/* MEDIA QUERY FOR LARGE TABLETS AND SMALL DESKTOP */
@media only screen and (max-width:992px){

}

/* MEDIA QUERY FOR TABLETS */
@media only screen and (max-width:768px){

}

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width:640px){

}
